.container {
    background-color: #ccc;;
    height: 100vh;
    position: relative;
}

.header {
    min-height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}