.background {
    width: 450px;
    height: 450px;
    border-radius: 12px !important;
    margin: 0 auto;
    padding: 0 10px 15px 30px;
}

.title {
    margin-top: 60px !important;
    padding: 12px 0 12px 0;
}
