.container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    right: 0;
    height: 36px;
    
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color:#ccc;
}