.text-capitalize {
    text-transform: capitalize;
}

.overflow-initial {
    overflow: initial;
}

.margin-auto {
    margin: 0 auto;
}

.fw-600 {
    font-weight: 600 !important;
}

.txt-center {
    text-align: center !important;
}

.mr-20 {
    margin-right: 20px !important;
}